.app__header {
	position: fixed;
	width: 100%;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: var(--blue-400);
	color: var(--white);
	z-index: 100;

	&__profile {
		display: flex;
		align-items: center;
		&-notification {
			margin-right: 0.5rem;
		}
	}
}
