// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// vars + base
@import './variables';
@import './base';
// utils styles
@import './layout/utils/Container.scss';
@import './layout/utils/IconButton.scss';
// import styles
@import './components/App.scss';
@import './components/Header.scss';
@import './layout/Sidebar.scss';
@import './components/LoginForm.scss';
// reset + base
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 16px;
	font-family: 'Roboto', Helvetica, sans-serif;
}

ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button:focus,
input[type='button']:focus {
	outline: none;
}
